body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:15px 10%;
background:#020617;
}

.nav-links{
list-style:none;
display:flex;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:60px 20px;
}

.hero img{
width:180px;
border-radius:50%;
border:4px solid #38bdf8;
margin-bottom:20px;
}

.btn{
padding:10px 20px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:5px;
}

.outline{
background:transparent;
border:2px solid #38bdf8;
color:#38bdf8;
}

.page{
padding:50px 15%;
}
